<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
<div th:if="${uploadStatus}"  th:text="${uploadStatus}">上传成功</div>
<form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
上传文件：&nbsp;&nbsp;<input type="button" value="添加文件" onclick="add()"/>
<div id="file" th:value="文件上传区域"></div>
    <input type="submit" id="submit" value="上传">
</form>

<script type="text/javascript">

    function add() {
        var innerdiv="<div>";
        innerdiv+="<input type='file' name='fileUpload' required='required'>"+"<input type='button' value='删除' onclick='remove(this)'>";
        innerdiv+="</div>";
        $("#file").append(innerdiv)
        $("button").css("display","block");
    }

    function remove(obj) {
        $(obj).parent().remove();
        if($("#file div").length===0){
            $("button").css("display","none");
        }
    }
</script>
</body>


</html>